
        <div id="footer">
            <div class="flex">
                <ul>
                    <li><h3>Home</h3></li>
                    <li><a href="/#main2">About</a></li>
                    <li><a href="/#main3">Meet The Team</a></li>
                    <li><a href="/#main4">Get a Quote</a></li>
                </ul>
                <ul>
                    <li><h3>Social Media</h3></li>
                    <li><a href="/">Facebook</a></li>
                    <li><a href="/">Instagram</a></li>
                    <li><a href="/">Twitter</a></li>
                </ul>
            </div>
        </div>
        <script src="/js/main.js"></script>
    </body>
</html>