<!DOCTYPE html>
<html>
    <head>
        <title>Good Hand Hauling</title>
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Good Hand Hauling & Trucking">
    </head>
    <body>
        <div id="main">
            <div id="top_box">
                <div id="logo"><a href="/">Good Hand Hauling</a></div>
                <div id="menu">
                    <ul>
                        <li><a class="menu" href="/">Home</a></li>
                        <li><a class="menu" href="/#main2">About</a></li>
                        <li><a class="menu" href="/#main3">Meet The Team</a></li>
                        <li><a class="menu" href="/#main4">Get a Quote</a></li>
                        <li><a class="login" href="/#main4">Contact</a></li>
                    </ul>
                </div>
            </div>
