            <div id="slideshow">
                <div id="canvas">
                    <img src="img/IMG_1970.avif"/>
                </div>
                <div id="content">
                    <div id="msg1">Estimate for</div>
                    <div id="msg2">Future Projects</div>
                    <div id="msg3">Deadlines & upcoming Tasks</div>
                    <button id="btn">Get a Quote</button>
                </div>
            </div>
        </div>
        <div id="main2">
            <div class="content">
                <img src="img/IMG_1971.avif"/>
                <div class="about">
                    <h1>About Us</h1>
                    <p>Our mission at Good hand Hauling and Trucking is to provide high quality serivces in a timely manner. Our primary focus is the hauling of asphalt, stone, sand, gravel and various other bulk commodities. Our company takes pride in serving the customers and contractors who depend upon us to deliver.</p>
                </div>
            </div>
            <button id="btn2" class="btn">Get a Quote</button>
        </div>
        <div id="main3">
            <h1 class="title">Meet The Team</h1>
            <div class="flexbox">
                <div class="profilecard">
                    <img src="img/IMG_20230124_200824_1_1.avif"/>
                    <div class="description">
                        <h3>Michael Donald</h3>
                        <p>Owner/CEO</p>
                    </div>
                </div>
                <div class="profilecard">
                    <img src="img/1519.avif"/>
                    <div class="description">
                        <h3>Rahim Muhammad</h3>
                        <p>Owner/President</p>
                    </div>
                </div>
                <div class="profilecard">
                    <img src="img/signal-2023-01-24-20-02-49-000_1.avif"/>
                    <div class="description">
                        <h3>Michael Donald</h3>
                        <p>Web Developer</p>
                    </div>
                </div>
            </div>
            <button class="btn2" id="btn3">Get a Quote</button>
        </div>
        <div id="main4">
            <div class="quote">
                <div class="description">
                    <h1>Get a Quote</h1>
                    <p>
                        Email: <a href="mailto:michael@goodhandhauling.com">michael@goodhandhauling.com</a><br>
                        Phone: <a href="tel:+12163377086">(216) 337-7086</a>
                    </p>
                </div>
                <div class="form">
                    <p id="error">All fields are required</p>
                    <div class="name">
                        <label for="fname">First name: </label>
                        <input type="text" id="fname" name="fname" placeholder="John">
                        <label for="lname">Last name: </label>
                        <input type="text" id="lname" name="lname" placeholder="Doe">
                    </div>
                    <div class="email">
                        <label for="email">Email: </label>
                        <input type="text" id="email" name="email" placeholder="user@gmail.com">
                    </div>
                    <div class="business">
                        <label for="bname">Business Name: </label>
                        <input type="text" id="bname" name="lname" placeholder="Business Name LLC"><br>
                    </div>
                    <div class="button">
                        <button id="submit" class="submit">Get a Quote</button>
                    </div>
                </div>
            </div>
            <div class="mobilequote">
                <div class="description">
                    <h1>Get A Quote</h1>
                    <p>
                        Email: <a href="mailto:michael@goodhandhauling.com">michael@goodhandhauling.com</a><br>
                        Phone: <a href="tel:+12163377086">(216) 337-7086</a>
                    </p>
                </div>
                <div class="form">
                    <p id="mobileerror">All fields are required</p>
                    <label for="fname">First name: </label><br>
                    <input type="text" id="mfname" name="fname" placeholder="John"/><br>
                    <label for="lname">Last name: </label><br>
                    <input type="text" id="mlname" name="lname" placeholder="Doe"><br>
                    <label for="email">Email: </label><br>
                    <input type="text" id="memail" name="email" placeholder="user@gmail.com"><br>
                    <label for="bname">Business Name: </label><br>
                    <input type="text" id="mbname" name="lname" placeholder="Business Name LLC"><br>
                    <button id="mobilesubmit" class="submit">Get a Quote</button>
                </div>
            </div>
        </div>